#myNumber {
  font-size: 100px;
}

.color-btn {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.red {background-color: #ff0000;}
.orange {background-color: #ff9500;}
.yellow {background-color: #ffcc00;}
.green {background-color: #4cd964;}
.blue {background-color: #007aff;}
.purple {background-color: #5856d6;}
.pink {background-color: #ff2d55;}
.black {background-color: #000000;}